*#*
*~
*.o
*.asv
*.png
*.mat
*.jpg
*.pdf
*.mp4
*.h5
*.avi
*.json
*.csv
*.obj
*.ply
*.mtl
*.blend
*.zip
W00*
simulation_files
*.DS_Store
*.mrc
outputs
__pycache__
.DS_Store

musik/kwave
musik/test_experiment*

*.raw
*.mhd
*.rar
*.npy
*.npz
*simulations

*.dcm
*.vox
*.ply
*.blend
*.blend1
*.mtl

