*#*
*~
*.o
*.asv
*.png
*.mat
*.jpg
*.pdf
*.mp4
*.h5
*.avi
*.json
*.csv
*.obj
*.zip
W00*
simulation_files
series_*
baby.py
*.DS_Store
*.mrc
outputs
__pycache__
.DS_Store
*.raw
*.mhd
*.rar
*.npy
*.npz
*simulations
*.obj
*.dcm
*.vox
