*#*
*~
*.o
*.asv
*.png
*.mat
*.jpg
*.pdf
*.mp4
*.h5
*.avi
*.json
*.csv
simulation_files
baby.py
*.DS_Store
*.mrc
outputs
__pycache__
.DS_Store
k-wave-python/
./kwave
./test_experiment*
*.raw
*.mhd
*.rar
*.npy
*.npz
*simulations
