beartype==0.17.2
einops==0.8.0
h5py==3.6.0
imageio==2.33.0
json5==0.9.14
matplotlib==3.6.3
meshlib==2.4.1.114
mrcfile==1.4.3
natsort==8.4.0
nptyping==2.5.0
numpy==1.22.4
open3d==0.18.0
opencv-python==4.7.0.68
ordered-set==4.0.2
pandas==2.1.3
Pillow==10.1.0
plotly==5.18.0
pydicom==2.4.4
pyquaternion==0.9.9
PyWavelets==1.5.0
scikit-image==0.19.3
scikit-learn==1.4.2
scipy==1.7.3
tifffile==2023.9.26
tqdm==4.66.1